* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --bg: #f8fafc;
    --text: #111827;
    --card: #fff;
    --primary: #2563eb
}

.dark {
    --bg: #0f172a;
    --text: #f8fafc;
    --card: #1e293b
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: .3s
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background: var(--card)
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none
}

.nav-links a {
    text-decoration: none;
    color: var(--text)
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 2rem;
    flex-wrap: wrap
}

.profile-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover
}

.btn {
    display: inline-block;
    background: var(--primary);
    color: white;
    padding: .8rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 1rem
}

section {
    padding: 4rem 2rem;
    max-width: 1100px;
    margin: auto
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem
}

.card,
.skill {
    background: var(--card);
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

.skill:hover,
.card:hover {
    transform: translateY(-5px);
    transition: .3s
}

.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: .8s
}

.show {
    opacity: 1;
    transform: translateY(0)
}

#topBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: .7rem 1rem;
    display: none
}

@media(max-width:768px) {
    .nav-links {
        display: none
    }

    .hero {
        text-align: center
    }
}